services:
  kernelmemory.ecommerce.sample.api:
    image: ${DOCKER_REGISTRY-}kernelmemoryecommercesampleapi
    build:
      context: .
      dockerfile: src/KernelMemory.Ecommerce.Sample.Api/Dockerfile
    ports:
      - 9000:8080
      - 9001:8081
    depends_on:
      kernelmemory.ecommerce.sample.database:
        condition: service_healthy

  kernelmemory.ecommerce.sample.database:
    image: pgvector/pgvector:pg17
    container_name: KernelMemory.Ecommerce.Sample.Database
    environment:
      - POSTGRES_DB=kernelmemory
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./utils/sql-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  kernelmemory.ecommerce.sample.qdrant:
    image: qdrant/qdrant
    container_name: KernelMemory.Ecommerce.Sample.Qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - qdrant-data:/var/lib/qdrant/storage

  
  kernelmemory.ecommerce.sample.seq:
    image: datalust/seq
    ports: 
      - 5341:80
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=password
    volumes:
      - seq-data:/data

volumes:
  db-data:
  qdrant-data:
  seq-data: